<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
  
  <textarea id="text">Hello. Nice to meet you.</textarea>
  <select id="voice-select"></select>
  <button id="speak-btn">再生</button>
  <button id="cancel-btn">停止</button>
  <button id="pause-btn">一時停止</button>
  <button id="resume-btn">再開</button>
</div>




